p {
    font-family: Lato;
  }
  .error{
    color: red;
  }
  
  .heading{
    color:rgb(85, 173, 58);
    font-size: 25px;
  }
  
  .text{
      color:blue;
      font-size: 13px;
  }